@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-action="Upload">Upload a file</a><br />
        The file must be a .txt file less than 2MB in size.<br />
        It will be uploaded to \file. Create the folder if it doesn't exist.
    </p>
</div>
